{% extends 'Core/base.html'%} {% block title%}Contacto{% endblock%}{% block background%}{%load static%}{% static 'Core/img/contact-bg.jpg' %}{%endblock%} {%block headers%}

<!-- Cabecera -->
<h1>Contacto</h1>
<span class="subheading">Asesoría</span> {% endblock%} {% block content %}


<div class=row>
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <br>
        <p><b>Teléfono:</b> +09 876 543 210</p>
        <p><b>Honorarios:</b> 60€/h (precio base)</p>
    </div>
    
</div>


<br><br>
<div class="row justify-content-center">
    <h3>Registro de Productos</h3>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-2">
        id
    </div>
    <div class="col-8 col-sm-4">
        <input type="text" name="txtId" class="form-control">
    </div>
    <div class="col-4 col-sm-2">
        <input type="submit" name="btnBuscar" class="btn btn-warning btn-block">
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Categoria</div>
    <div class="col-12 col-md-4">
        <select name="cmbCategoria" name="txtCategoria" class="txtArea form-control" maxlength="6">
                    <option value="0">Seleccionar</option>
                    <option value="1">Verduras</option>
                    <option value="2">Frutas</option>
                    <option value="3">Otros</option>
                </select>
    </div>
    <br>
</div>
<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Código</div>
    <div class="col-12 col-md-4">
        <input type="text" name="txtCodigo" class="txtCodigo form-control" maxlength="10">
    </div>
</div>

<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Descripción</div>
    <div class="col-12 col-md-4">
        <input type="text" name="txtdescripcion" class="txtdescripcion form-control" maxlength="20">
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Stock</div>
    <div class="col-12 col-md-4">
        <input type="text" name="txtStock" class="txtStock form-control" maxlength="20">
    </div>

</div>
<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Precio Costo</div>
    <div class="col-12 col-md-4">
        <input type="text" name="txtprecioCosto" class="txtprecioCosto form-control" maxlength="6">
    </div>
</div>

<br>
<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Precio Venta</div>
    <div class="col-12 col-md-4">
        <input type="text" name="txtprecioVenta" class="txtprecioVenta form-control" maxlength="6">
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-1 offset-md-3">Opciones</div>
    <div class="col-12 col-md-4">
        <button type="button" class="btn btn-primary">Limpiar</button>
        <button type="button" class="btn btn-secondary">Grabar</button>
        <button type="button" class="btnEnviar2 btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-danger">Volver</button>
    </div>
</div>

{% endblock%}